PASOS PARA IMPORTAR DATOS:
(Se selecciono el archivo csv: DP1 - Casos totales por comuna incremental:) 

Fuente exacta:
https://github.com/MinCiencia/Datos-COVID19/tree/master/output/producto1

Seleccionar Covid-19.csv, pinchar raw (se abrirá pantalla) y copiar url (https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv).

PASOS PARA INICIAR TRABAJO DESDE PC CON GIT:
Crear carpeta donde se trabajara.
Boton derecho, Seleccionar Git Bash (se abrira consola)
Clonar

PASOS PARA ACTUALIZAR TRABAJO DESDE PC CON GIT:
Una vez terminadas las modificaciones:
Boton derecho, Seleccionar Git Bash (se abrira consola).
git init
git config --global user.username (nombre usuario)
git status (ver estado)
git add . <== Incorpora lo trabajado. Todo con .
git commit -m  "Primera actualizacion"
git push <== Actualiza.

------------------

In [1]:
# IMPORTAR LIBRERIAS:
import pandas as pd
import numpy as np
import datetime
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv')

In [7]:
#Ver información general:
df.info()

In [5]:
#Visualizar tabla de la información:
df.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,2020-03-30,2020-04-01,2020-04-03,2020-04-06,2020-04-08,...,2021-12-10,2021-12-13,2021-12-17,2021-12-20,2021-12-24,2021-12-27,2021-12-31,2022-01-03,2022-01-07,Tasa
0,Arica y Parinacota,15,Arica,15101.0,247552.0,6.0,6.0,12.0,41.0,63.0,...,31782.0,31811.0,31855.0,31889.0,31933.0,31973.0,32046.0,32151.0,32151.0,12987.6
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,0.0,0.0,0.0,0.0,0.0,...,74.0,74.0,74.0,74.0,74.0,74.0,74.0,74.0,74.0,6001.6
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,0.0,0.0,0.0,0.0,0.0,...,88.0,88.0,88.0,88.0,88.0,88.0,88.0,88.0,88.0,10864.2
3,Arica y Parinacota,15,Putre,15201.0,2515.0,0.0,0.0,0.0,0.0,0.0,...,217.0,217.0,217.0,217.0,228.0,228.0,228.0,228.0,228.0,9065.6
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,235.0,247.0,249.0,335.0,467.0,437.0,254.0,253.0,253.0,NaN

In [6]:
#POBLACION TOTAL DE CHILE (Segun la fuente):
df['Poblacion'].sum()

19458310.0